*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li,
ol {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-style: inherit;
}

html,
body {
    height: 100%;
}


body {
    line-height: 1;
    font-family: 'Roboto';
    font-size: 16px;
    color: black;


}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    justify-content: space-between;

}

.day {
    background: linear-gradient(360deg, #bfb635 0%, rgba(255, 255, 255, 0) 100%), #53A6CB;
}

.night {
    background: linear-gradient(360deg, #435964 0%, rgba(255, 255, 255, 0) 100%), #042232;

}

[class*="__container"] {
    max-width: 1410px;
    margin: 0 auto;
    padding: 0 15px;

}

.todo {
    background-color: #e2f1f7bd;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 5px 5px 20px #042232;
    margin: 50px;
    border-radius: 20px;
}

@media (max-width: 420px) {
    .todo {
        margin: 50px 5px;

    }
}

.todo__input {
    border: 2px solid #05369ad0;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #e2f1f7bd;
}

.todo__input:checked {}

.todo__input::placeholder {
    color: #042232;
    font-size: 16px;

}

.todo__button {
    border: 1px solid #042232;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    border-radius: 5px;
    background-color: #05369ad0;
}

.todo__out {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todo__item {
    background-color: #99c0df9f;
    border: 1px solid #042232;
    padding: 10px 20px;
    text-align: left;
    border-radius: 5px;
    color: #05369ad0;
}