*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li,
ol {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-style: inherit;
}

html,
body {
    height: 100%;
}


body {
    line-height: 1;
    font-family: 'Roboto';
    font-size: 16px;
    color: black;


}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    justify-content: space-between;

}



[class*="__container"] {
    max-width: 1410px;
    margin: 0 auto;


}

.todo {
    background-color: #e2f1f7bd;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 5px 5px 20px #042232;
    margin: 50px;
    border-radius: 20px;
}

@media (max-width: 420px) {
    .todo {
        margin: 50px 5px;

    }
}

.todo__form {
    display: flex;
}

.todo__input {
    border: 2px solid #05369ad0;
    padding: 10px 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    /* background-color: #fff; */
    min-width: 290px;
    min-height: 50px;
}



.todo__input::placeholder {
    color: #042232;
    font-size: 16px;
}

.todo__button {
    border: 1px solid #042232;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #05369ad0;
    max-width: 100px;
}

.todo__button:hover {
    color: #05369ad0;
    background-color: #ffff;
    transition: all 0.7s;

}

.todo__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todo__item {
    display: flex;
    min-height: 50px;

}

.todo__text {
    padding: 10px 20px;
    text-align: left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #000;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    background: #fc0;
    padding: 5px;
    text-overflow: ellipsis;
    cursor: pointer;

}

.todo__delete {
    background-color: #fff;
    padding: 10px 20px;
    text-align: left;
    color: red;
    max-width: 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    align-items: center;
}

.todo__delete:hover {
    background-color: red;
    color: #fff;
    transition: all 0.7s;
    cursor: pointer;
}

.todo__delete i {
    pointer-events: none;
}

.todo__done {
    background-color: #fff;
    padding: 10px 20px;
    text-align: left;
    color: #09e04ed0;
    max-width: 50px;
    align-items: center;
}

.todo__done:hover {
    background-color: #09e04ed0;
    color: #fff;
    cursor: pointer;

}

.todo__done i {
    pointer-events: none;
}

.todo__edit {
    display: flex;
    background-color: #fbfbfb;
    padding: 10px 20px;
    align-items: center;
    color: #fc0;
    max-width: 50px;
}

.todo__edit:hover {
    background-color: #fc0;
    color: #fbfbfb;
}

.todo__edit i {
    pointer-events: none;
}

.todo__edit-block {
    display: flex;
    align-items: flex-end;
}

.todo__input-edit {
    border: 2px solid #05369ad0;
    padding: 10px 20px;
    width: 200px;

}

.none {
    display: none;
}

.done .todo__text {
    text-decoration: line-through;
    opacity: 0.3;
}